body{
    background-color: red;
    text-align: justify;
    color: white;
}

.header-container{
    width: 400px;
    /* center content */
    margin-left: 200px;
    margin-right: auto;

}

.second-header-container {
    width: 400px;
    margin-left: 200px;
    margin-right: auto;

}


.div1{
    background-color: blue;


}